# Dependencies
node_modules

# Electron distribution
dist-electron
dist
*.exe

# Build outputs
frontend/dist
BACKEND/uploads
BACKEND/logs

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
